.az-home-row-product {
    background: #fff;
}
.az-section {
    margin-bottom: 30px;
}
.az-title {
    h2 {
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        color: #eb1c24;
        padding: 15px 20px 15px 0;
        margin-bottom: 0;
    }
}

.az-content {
    display: flex;
    flex-wrap: wrap;
    
}
